In [1]:
import requests
import json

### could use:

- _financialmodelingprep.com_

In [110]:
params = {'apikey': '5c441504040297013249ee348e014f85'}
url = 'https://financialmodelingprep.com/api/v3/stock/list'

r = requests.get(url, params)

In [111]:
df = pd.DataFrame(r.json())

In [112]:
len(df)

14369

In [113]:
set(df['exchange'].tolist())

{'Amsterdam',
 'BATS',
 'BATS Exchange',
 'Brussels',
 'Lisbon',
 'MCX',
 'NASDAQ Capital Market',
 'NASDAQ Global Market',
 'NYSE',
 'NYSE American',
 'NYSE Arca',
 'NYSEArca',
 'Nasdaq',
 'Nasdaq Global Select',
 'NasdaqCM',
 'NasdaqGM',
 'NasdaqGS',
 'New York Stock Exchange',
 'Other OTC',
 'Paris',
 'Swiss',
 'Toronto',
 'YHD',
 nan}

In [114]:
df[df['exchange'] == 'New York Stock Exchange'].head(10)

   symbol                                name  price                 exchange
2     KMI                  Kinder Morgan Inc.  14.53  New York Stock Exchange
6      GE            General Electric Company   6.59  New York Stock Exchange
7     BAC         Bank of America Corporation  25.27  New York Stock Exchange
13    HPQ                             HP Inc.  17.08  New York Stock Exchange
14     CX  Cemex S.A.B. de C.V. Sponsored ADR   3.16  New York Stock Exchange
18      F                  Ford Motor Company   6.92  New York Stock Exchange
20   SNAP                   Snap Inc. Class A  22.90  New York Stock Exchange
22    WFC               Wells Fargo & Company  25.78  New York Stock Exchange
23    AIG   American International Group Inc.  32.67  New York Stock Exchange
24      T                           AT&T Inc.  29.56  New York Stock Exchange

- _iexcloud.io_

In [115]:
import pyEX

In [116]:
token = 'pk_e2451d3644e5441ca64f00de53a4c00a'
secret = ':)'

In [117]:
c = pyEX.Client(api_token=token)

In [121]:
df = pd.DataFrame(c.symbols())
df.head(5)

,symbol,exchange,name,date,type,iexId,region,currency,isEnabled,figi,cik
0,A,NYS,Agilent Technologies Inc.,2020-07-30,cs,IEX_46574843354B2D52,US,USD,True,BBG000C2V3D6,1090872
1,AA,NYS,Alcoa Corp.,2020-07-30,cs,IEX_4238333734532D52,US,USD,True,BBG00B3T3HD3,1675149
2,AAAU,PSE,Perth Mint Physical Gold ETF,2020-07-30,et,IEX_474B433136332D52,US,USD,True,BBG00LPXX872,None
3,AACG,NAS,ATA Creativity Global Sponsored ADR,2020-07-30,ad,IEX_44595A4C53392D52,US,USD,True,BBG000V2S3P6,None
4,AACQU,NAS,Artius Acquisition Inc. Units Cons of 1 Shs A ...,2020-07-30,ut,IEX_474656574E422D52,US,USD,True,BBG00VQPPKH7,None

only 5 exchanges for _iexcloud.io_

In [119]:
set(df['exchange'].tolist())

{'ASE', 'BATS', 'NAS', 'NYS', 'PSE'}

In [120]:
len(set(df['symbol'].tolist()))

8925

- thomson reuters eikon

In [ ]:
GLOBAL EXCHANGES - THOMSON REUTERS SPEED GUIDE                         EXCHANGES
Detailed below is a list of Exchange Guides by country.                         
                                                                                
=EXCHANGES BY COUNTRY==================  =EXCHANGES BY COUNTRY Cont=============
AFRICAN Countries...........<AFR/EXCH1>  Netherlands.................<NXT/EXCH1>
ASIAN Countries............<ASIA/EXCH1>  New Zealand..................<NZ/EXCH1>
Austria......................<AT/EXCH1>  Norway.......................<NO/EXCH1>
Belgium.....................<NXT/EXCH1>  Portugal....................<NXT/EXCH1>
Canada.......................<CA/EXCH1>  Sweden.......................<SE/EXCH1>
Denmark......................<DK/EXCH1>  Spain........................<ES/EXCH1>
EASTERN EUROPEAN Countries..<EEU/EXCH1>  Switzerland..................<CH/EXCH1>
Finland......................<FI/EXCH1>  Turkey.......................<TR/EXCH1>
France......................<NXT/EXCH1>  United Kingdom...............<GB/EXCH1>
Germany......................<DE/EXCH1>  United States................<US/EXCH1>
Greece.......................<GR/EXCH1>  Virt-x.......................<VX/EXCH1>
Iceland......................<IS/EXCH1>  TRIAX Global Exchange...........<TRIAX>
India........................<IN/EXCH1>  =RELATED GUIDES========================
Ireland......................<IE/EXCH1>  European MTFs...................<MIFID>
Italy........................<IT/EXCH1>  Global Mkt & Public Holidays.<HOLIDAY1>
LATAM Countries...........<LATAM/EXCH1>  Scheduled Data Notifications..<CHANGES>
Luxembourg...................<LU/EXCH1>  Service Alerts..................<ALERT>
MIDDLE EASTERN Countries.....<ME/EXCH1>                                         
================================================================================
Futures Index<FUTURES>    Equities Index<EQUITY> Exchange Identifiers <EXCHID01>
Lost?Selective Access..<USER/HELP>         Refinitiv Phone Support..<PHONE/HELP>

In [ ]:
US EXCHANGES INFORMATION - REFINITIV SPEED GUIDE                        US/EXCH1
welcome to the US Exchanges Information Guide.  Detailed on the following       
pages, is Information for all US Exchanges.                                     
                                                                                
=US EXCHANGES==========================  =US EXCHANGES==========================
NYSE American............... <US/EXCH2>  Philadelphia Board of Trade.<US/EXCH19>
New York Stock Exchange(NYSE)<US/EXCH3>  Intl Securities Exchange....<US/EXCH20>
NASDAQ OMX BX................<US/EXCH4>  NASD........................<US/EXCH21>
NYSE Chicago.................<US/EXCH5>  OTC Bulletin Board..........<US/EXCH22>
NYSE National Exchange.......<US/EXCH6>  Boston Options Exch (BOX)...<US/EXCH23>
NASDAQ OMX PSX.............. <US/EXCH7>  One Chicago.................<US/EXCH24>
NYSE ARCA Exchange...........<US/EXCH8>  Cboe Global Markets Inc.....<US/EXCH25>
NASDAQ.......................<US/EXCH9>  OTC Market..................<US/EXCH26>
NYBOT.......................<US/EXCH10>  Chicago Climate Futures Ex..<US/EXCH27>
Chicago Board of Trade......<US/EXCH11>  NYSE LIFFE U.S..............<US/EXCH28>
Chicago Mercantile Exchange.<US/EXCH12>  Cboe Edge...................<US/EXCH29>
Chicago Options Exch(CBOE)..<US/EXCH13>  CBOE Futures Exchange.......<US/EXCH30>
Kansas City Board of Trade..<US/EXCH14>  Investors Exchange..........<US/EXCH31>
MidAmerica Commodity Exch...<US/EXCH15>  MIAX Options Exchange.......<US/EXCH32>
Minneapolis Grains Exchange.<US/EXCH16>  =RELATED GUIDES========================
NYMEX.......................<US/EXCH17>  Global Futures Guide..........<FUTURES>
NY Futures/NY Cotton Exch...<US/EXCH18>  Retrieval Codes/Brok Charactr<US/CHAR1>
================================================================================
Equity Guide <EQUITY>        US Equities <US/EQUITY>        Next Page <US/EXCH2>
Lost? Selective Access?..<USER/HELP> Refinitiv Phone Support..<PHONE/HELP>