In [108]:
import pandas as pd
import requests
import json

list of stocks for each exchange can be obtained using

In [ ]:
data, _ = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = data[0]

In [10]:
df['Symbol']

0       MMM
1       ABT
2      ABBV
3      ABMD
4       ACN
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [2]:
df.to_csv('S&P500-symbols.csv', columns=['Symbol'])

### list of all stock they have at 

- _financialmodelingprep.com_

In [110]:
params = {'apikey': '5c441504040297013249ee348e014f85'}
url = 'https://financialmodelingprep.com/api/v3/stock/list'

r = requests.get(url, params)

In [111]:
df = pd.DataFrame(r.json())

In [112]:
len(df)

14369

In [113]:
set(df['exchange'].tolist())

{'Amsterdam',
 'BATS',
 'BATS Exchange',
 'Brussels',
 'Lisbon',
 'MCX',
 'NASDAQ Capital Market',
 'NASDAQ Global Market',
 'NYSE',
 'NYSE American',
 'NYSE Arca',
 'NYSEArca',
 'Nasdaq',
 'Nasdaq Global Select',
 'NasdaqCM',
 'NasdaqGM',
 'NasdaqGS',
 'New York Stock Exchange',
 'Other OTC',
 'Paris',
 'Swiss',
 'Toronto',
 'YHD',
 nan}

In [114]:
df[df['exchange'] == 'New York Stock Exchange'].head(10)

   symbol                                name  price                 exchange
2     KMI                  Kinder Morgan Inc.  14.53  New York Stock Exchange
6      GE            General Electric Company   6.59  New York Stock Exchange
7     BAC         Bank of America Corporation  25.27  New York Stock Exchange
13    HPQ                             HP Inc.  17.08  New York Stock Exchange
14     CX  Cemex S.A.B. de C.V. Sponsored ADR   3.16  New York Stock Exchange
18      F                  Ford Motor Company   6.92  New York Stock Exchange
20   SNAP                   Snap Inc. Class A  22.90  New York Stock Exchange
22    WFC               Wells Fargo & Company  25.78  New York Stock Exchange
23    AIG   American International Group Inc.  32.67  New York Stock Exchange
24      T                           AT&T Inc.  29.56  New York Stock Exchange

- _iexcloud.io_

In [115]:
import pyEX

In [116]:
token = 'pk_e2451d3644e5441ca64f00de53a4c00a'
secret = ':)'

In [117]:
c = pyEX.Client(api_token=token)

In [121]:
df = pd.DataFrame(c.symbols())
df.head(5)

,symbol,exchange,name,date,type,iexId,region,currency,isEnabled,figi,cik
0,A,NYS,Agilent Technologies Inc.,2020-07-30,cs,IEX_46574843354B2D52,US,USD,True,BBG000C2V3D6,1090872
1,AA,NYS,Alcoa Corp.,2020-07-30,cs,IEX_4238333734532D52,US,USD,True,BBG00B3T3HD3,1675149
2,AAAU,PSE,Perth Mint Physical Gold ETF,2020-07-30,et,IEX_474B433136332D52,US,USD,True,BBG00LPXX872,None
3,AACG,NAS,ATA Creativity Global Sponsored ADR,2020-07-30,ad,IEX_44595A4C53392D52,US,USD,True,BBG000V2S3P6,None
4,AACQU,NAS,Artius Acquisition Inc. Units Cons of 1 Shs A ...,2020-07-30,ut,IEX_474656574E422D52,US,USD,True,BBG00VQPPKH7,None

only 5 exchanges for _iexcloud.io_

In [119]:
set(df['exchange'].tolist())

{'ASE', 'BATS', 'NAS', 'NYS', 'PSE'}

In [120]:
len(set(df['symbol'].tolist()))

8925

- thomson reuters eikon

In [107]:
pass